
@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="/css/Login/NoInternetConnection.css">

<div class='body'></div>
<div class='eye'></div>
<div class='mouth'></div>
<div class='ground'></div>
<div class='comets'></div>